
/*最外层盒子*/
.jd_layout{
    min-width: 300px;
    max-width: 640px;
    margin: 0 auto;
    position: relative;
}

/*头部*/
/*头部最上面*/
.jd_dingbu{
    margin: 0;
    padding: 0;;
}
.dingbu{
    margin: 0;
    padding:0;
    height: 50px;
    width: 100%;
    background-image: url("../img/header-bg.png");
    background-repeat: repeat-x;

}
.dingbu .db_back{
    margin: 0;
    padding:0;
    display: inline-block;
    text-decoration: none;
    position: absolute;
    top:10px;
    left: 10px;
}
.dingbu h3{
    text-align: center;
    display: inline-block;
    position: absolute;
    top: -5px;
    left: 40%;
}
.dingbu .db_menu{
    display: inline-block;
    text-decoration: none;
    position: absolute;
    top:10px;
    right: 10px;
}
/*消失导航栏*/
.xiaoshidaohanglan .nav li{
    text-align: center;
}
.xiaoshidaohanglan .nav .glyphicon-home{
    display: block;
}
.xiaoshidaohanglan .nav .glyphicon-search{
    display: block;
}
.xiaoshidaohanglan .nav .glyphicon-shopping-cart{
    display: block;
}
.xiaoshidaohanglan .nav .icon-ambulance{
    display: block;
}
.jd_dingbu .xiaoshidaohanglan .nav .xsdhlfenlei{
    width: 25%;
    padding: 0;
    margin: 0;
}
.jd_dingbu .xiaoshidaohanglan .nav .xsdhlshouye{
    width: 25%;
    padding: 0;
    margin: 0;
}
.jd_dingbu .xiaoshidaohanglan .nav .xsdhlwode{
    width: 25%;
    padding: 0;
    margin: 0;
 }
.jd_dingbu .xiaoshidaohanglan .nav .active{
    width: 25%;
    padding: 0;
    margin: 0;
}
/*登录同步未登录*/
.jd_tongbu{
    height: 50px;
    width: 100%;
}
.jd_tongbu .tb_font{
    color: grey;
    text-align: center;
}
/*店铺*/
.shop_title{
    padding: 10px;
    border-top:1px solid darkgray ;
    border-bottom:1px solid darkgray ;
}
.shop_title img{
    height: 15px;
    width: 15px;
    margin-bottom:1px ;
}
.jd_shop .shop_title .tip{
    color: #ff733e;
    text-align: r;
}
.jd_shop .shop_name{
    margin-right: 25%;
}
.jd_shop .jd_shop_name .shop_title .tip{
    float: right;
}
.jd_check_box{
    margin: 11px;
    float: left;
    height: 20px;
    width: 20px;
    display: block;
    background: url("../img/shop-icon.png") no-repeat;
    background-size: 50px 100px;
}
.goods .detail_box{
    margin-bottom: 2px;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid darkgray;
}
.goods .detail_box .detail_check{
    height: 20px;
    width: 20px;
    margin:10px ;
    float: left;
}
.goods .detail_box .detail_img {
    height: 100px;
    width: 100px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.goods .detail_box p{
    margin-top: 20px;
}
/*数量加减*/
.goods_jiajian{
    margin-top: 8px;
    float: left;
}
.goods_jiajian span{
    height: 22px;
    width: 20px;
    border: 1px solid grey;
    text-align: center;
    float: left;
}
.goods_jiajian input{
    height: 22px;
    width: 35px;
    border: 1px solid grey;
    float: left;
    text-align: center;
}
.goods_shanchu img{
    height: 20px;
    width: 20px;
    margin-top: 10px;
    margin-left: 130px;
}
/*店铺里第二件商品*/
.goods2 .detail_box2{
    margin-bottom: 2px;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid darkgray;
}
.goods2 .detail_box2 .detail_check2{
    height: 20px;
    width: 20px;
    margin:10px ;
    float: left;
}
.goods2 .detail_box2 .detail_img2 {
    height: 100px;
    width: 100px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.goods2 .detail_box2 p{
    margin-top: 20px;
}
/*数量加减*/
.goods_jiajian2{
    margin-top: 8px;
    float: left;
}
.goods_jiajian2 span{
    height: 22px;
    width: 20px;
    border: 1px solid grey;
    text-align: center;
    float: left;
}
.goods_jiajian2 input{
    height: 22px;
    width: 35px;
    border: 1px solid grey;
    float: left;
    text-align: center;
}
.goods_shanchu2 img{
    height: 20px;
    width: 20px;
    margin-top: 10px;
    margin-left: 130px;
}

/*结算*/
.goods_jiesuan{
    height: 40px;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #333333;
    color: white;
    z-index: 10;
}
.goods_jiesuan .check{
    float: left;
}
.goods_jiesuan .check img{
    height: 20px;
    width: 20px;
    margin: 10px;
}
.goods_jiesuan .heji{
    float: left;
    margin-left: 10px;
    line-height: 5px;
    padding-top: 10px;
}
.goods_jiesuan .fanxian{
    font-size: 12px;
}
.goods_jiesuan .jiesuan{
    height: 40px;
    width: 102px;
    text-align: center;
    position: absolute;
    right: 0;
}
.goods_jiesuan .jiesuan a{
    height: 40px;
    width: 90%;
    display: block;
    background: #f15353;
    text-align: center;
    line-height: 36px;
    border-radius: 4px;
    color: #ffffff;
    font-size: 16px;
    margin-left: 10%;
    float: left;
}